[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glxw"]
	path = glxw
	url = http://glxw.dav1d.de/glxw.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
