[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/Groovounet/glm
[submodule "glew"]
	path = glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "glxw"]
	path = glxw
	url = https://github.com/rikusalminen/glxw
